body {
  font-family: "Dosis Regular", sans-serif;
  background: #FA4A0C;
}
#app {
  background: #F5F5F8;
}
.isHome #app {
  padding-bottom: 56px;
}
.bottomFixed #app {
  padding-bottom: 74px;
}
.uk-offcanvas-page #app {
  padding-bottom: 0 !important;
}

.app__container {
  margin: 0 auto;
  overflow: hidden;
}
.uk-offcanvas-page .app__container {
  border-radius: 20px;
}

/**
 * --------------------------------------------------------------------
 * Dosis
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Dosis Medium";
  font-display: swap;
  src: local("Dosis Medium"), url("fonts/Dosis/Dosis-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dosis SemiBold";
  font-display: swap;
  src: local("Dosis SemiBold"), url("fonts/Dosis/Dosis-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dosis Bold";
  font-display: swap;
  src: local("Dosis Bold"), url("fonts/Dosis/Dosis-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dosis Regular";
  font-display: swap;
  src: local("Dosis Regular"), url("fonts/Dosis/Dosis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dosis Light";
  font-display: swap;
  src: local("Dosis Light"), url("fonts/Dosis/Dosis-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dosis ExtraLight";
  font-display: swap;
  src: local("Dosis ExtraLight"), url("fonts/Dosis/Dosis-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dosis ExtraBold";
  font-display: swap;
  src: local("Dosis ExtraBold"), url("fonts/Dosis/Dosis-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Arial Regular";
  font-display: swap;
  src: local("Arial Regular"), url("fonts/Arial/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Verdana Regular";
  font-display: swap;
  src: local("Verdana Regular"), url("fonts/Fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Bold";
  font-display: swap;
  src: local("Verdana Bold"), url("fonts/Fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Roboto Regular";
  font-display: swap;
  src: local("Roboto Regular"), url("fonts/Fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  font-display: swap;
  src: local("Roboto Black"), url("fonts/Fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold Italic";
  font-display: swap;
  src: local("Roboto Bold Italic"), url("fonts/Fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  font-display: swap;
  src: local("Roboto Bold"), url("fonts/Fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  font-display: swap;
  src: local("Roboto Medium"), url("fonts/Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light Italic";
  font-display: swap;
  src: local("Roboto Light Italic"), url("fonts/Fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-12-xl {
    margin-left: -12px !important;
  }
  .uk-grid-12-xl > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-xl > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-12-l {
    margin-left: -12px !important;
  }
  .uk-grid-12-l > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-l > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-12-m {
    margin-left: -12px !important;
  }
  .uk-grid-12-m > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-m > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-12-s {
    margin-left: -12px !important;
  }
  .uk-grid-12-s > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-s > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

.uk-grid-12 {
  margin-left: -12px;
}
.uk-grid-12 > * {
  padding-left: 12px;
}
.uk-grid-12 > .uk-grid-margin {
  margin-top: 12px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-14 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-14 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14 {
    font-size: 14px !important;
  }
}

.fz-15 {
  font-size: 15px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(15px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 15px !important;
  }
}

.fz-16 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-16 {
    font-size: calc(16px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16 {
    font-size: 16px !important;
  }
}

.fz-20 {
  font-size: 16px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(16px + 4 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 20px !important;
  }
}

.fz-30 {
  font-size: 21px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(21px + 9 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 30px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__24:nth-child(n+2) {
  margin-top: 24px;
}
.item__20:nth-child(n+2) {
  margin-top: 20px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__12:nth-child(n+2) {
  margin-top: 12px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}
.item__6:nth-child(n+2) {
  margin-top: 6px;
}

.navigation__navbarMenu {
  box-shadow: 0px -8px 16px rgba(117, 136, 163, 0.08);
  z-index: 999;
  transition: all 0.3s ease-out;
}
.uk-offcanvas-page .navigation__navbarMenu {
  opacity: 0;
}
.navigation__navbarMenu .uk-navbar-nav {
  gap: 0;
}
.navigation__navbarMenu .uk-navbar-nav > li > a {
  min-height: 56px;
  text-transform: inherit;
}
.navigation__navbarMenu__icon {
  width: 24px;
  height: 24px;
  display: flex;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.navigation__navbarMenu__icon--home {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.04 6.81994L14.28 2.78994C12.71 1.68994 10.3 1.74994 8.78999 2.91994L3.77999 6.82994C2.77999 7.60994 1.98999 9.20994 1.98999 10.4699V17.3699C1.98999 19.9199 4.05999 21.9999 6.60999 21.9999H17.39C19.94 21.9999 22.01 19.9299 22.01 17.3799V10.5999C22.01 9.24994 21.14 7.58994 20.04 6.81994ZM12.75 17.9999C12.75 18.4099 12.41 18.7499 12 18.7499C11.59 18.7499 11.25 18.4099 11.25 17.9999V14.9999C11.25 14.5899 11.59 14.2499 12 14.2499C12.41 14.2499 12.75 14.5899 12.75 14.9999V17.9999Z' fill='%2394A3B8'/%3E%3C/svg%3E%0A");
}
.uk-active .navigation__navbarMenu__icon--home {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.04 6.81994L14.28 2.78994C12.71 1.68994 10.3 1.74994 8.78999 2.91994L3.77999 6.82994C2.77999 7.60994 1.98999 9.20994 1.98999 10.4699V17.3699C1.98999 19.9199 4.05999 21.9999 6.60999 21.9999H17.39C19.94 21.9999 22.01 19.9299 22.01 17.3799V10.5999C22.01 9.24994 21.14 7.58994 20.04 6.81994ZM12.75 17.9999C12.75 18.4099 12.41 18.7499 12 18.7499C11.59 18.7499 11.25 18.4099 11.25 17.9999V14.9999C11.25 14.5899 11.59 14.2499 12 14.2499C12.41 14.2499 12.75 14.5899 12.75 14.9999V17.9999Z' fill='%23FA4A0C'/%3E%3C/svg%3E%0A");
}
.navigation__navbarMenu__icon--bxh {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.43699 4.46191C3.12971 4.79199 2.97215 5.23893 3.00405 5.68425L3.27749 9.80632C3.36148 11.0104 4.37125 11.9535 5.57567 11.9535H7.06485C7.69009 14.1156 9.55679 15.6906 11.7892 15.9558V17.6467C10.0652 17.9624 8.7534 19.4773 8.7534 21.3333C8.7534 21.7015 9.05158 22 9.42007 22H15.4917C15.8602 22 16.1583 21.654 16.1583 21.2858C16.1583 19.472 14.8466 17.9619 13.1225 17.6466V15.9558C15.3571 15.6904 17.2253 14.1132 17.8478 11.9535H19.3361C20.5405 11.9535 21.5503 11.0104 21.6343 9.80437L21.9077 5.6862C21.939 5.23763 21.7814 4.79167 21.4748 4.46191C21.1662 4.13021 20.7293 3.94011 20.2762 3.94011H18.4453L18.5145 2.70345C18.5249 2.52051 18.4591 2.34147 18.3335 2.20833C18.2072 2.07552 18.032 2 17.8491 2H7.06265C6.87971 2 6.70457 2.07552 6.57827 2.20833C6.45262 2.34147 6.38687 2.52051 6.39728 2.70345L6.46641 3.94011H4.63556C4.18244 3.94011 3.74559 4.13021 3.43699 4.46191V4.46191ZM14.743 20.6667H10.1688C10.4416 19.6595 11.3634 18.9167 12.4559 18.9167C13.5483 18.9167 14.4702 19.6595 14.743 20.6667ZM18.3725 5.27344H20.2762C20.3914 5.27344 20.465 5.33399 20.4988 5.37045C20.5314 5.4056 20.5854 5.48113 20.5776 5.59213C20.5776 5.59343 20.577 5.59441 20.577 5.59571L20.3035 9.71387C20.2684 10.222 19.8432 10.6201 19.3361 10.6201H18.0718L18.3725 5.27344ZM17.1447 3.33333L16.7371 10.6126C16.7261 10.7966 16.7026 10.9808 16.6668 11.1663C16.2938 13.1947 14.5229 14.6667 12.4559 14.6667C10.3888 14.6667 8.61798 13.1947 8.24363 11.1589C8.20913 10.9811 8.14736 10.1287 8.14736 10.1287L7.76707 3.33333H17.1447ZM6.83975 10.6201H5.57567C5.06851 10.6201 4.64337 10.222 4.60822 9.71582L4.33413 5.59212C4.32632 5.48112 4.38035 5.4056 4.41291 5.37044C4.44676 5.33398 4.52033 5.27343 4.63556 5.27343H6.53921L6.83975 10.6201Z' fill='%2394A3B8' stroke='%2394A3B8' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.uk-active .navigation__navbarMenu__icon--bxh {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.43699 4.46191C3.12971 4.79199 2.97215 5.23893 3.00405 5.68425L3.27749 9.80632C3.36148 11.0104 4.37125 11.9535 5.57567 11.9535H7.06485C7.69009 14.1156 9.55679 15.6906 11.7892 15.9558V17.6467C10.0652 17.9624 8.7534 19.4773 8.7534 21.3333C8.7534 21.7015 9.05158 22 9.42007 22H15.4917C15.8602 22 16.1583 21.654 16.1583 21.2858C16.1583 19.472 14.8466 17.9619 13.1225 17.6466V15.9558C15.3571 15.6904 17.2253 14.1132 17.8478 11.9535H19.3361C20.5405 11.9535 21.5503 11.0104 21.6343 9.80437L21.9077 5.6862C21.939 5.23763 21.7814 4.79167 21.4748 4.46191C21.1662 4.13021 20.7293 3.94011 20.2762 3.94011H18.4453L18.5145 2.70345C18.5249 2.52051 18.4591 2.34147 18.3335 2.20833C18.2072 2.07552 18.032 2 17.8491 2H7.06265C6.87971 2 6.70457 2.07552 6.57827 2.20833C6.45262 2.34147 6.38687 2.52051 6.39728 2.70345L6.46641 3.94011H4.63556C4.18244 3.94011 3.74559 4.13021 3.43699 4.46191V4.46191ZM14.743 20.6667H10.1688C10.4416 19.6595 11.3634 18.9167 12.4559 18.9167C13.5483 18.9167 14.4702 19.6595 14.743 20.6667ZM18.3725 5.27344H20.2762C20.3914 5.27344 20.465 5.33399 20.4988 5.37045C20.5314 5.4056 20.5854 5.48113 20.5776 5.59213C20.5776 5.59343 20.577 5.59441 20.577 5.59571L20.3035 9.71387C20.2684 10.222 19.8432 10.6201 19.3361 10.6201H18.0718L18.3725 5.27344ZM17.1447 3.33333L16.7371 10.6126C16.7261 10.7966 16.7026 10.9808 16.6668 11.1663C16.2938 13.1947 14.5229 14.6667 12.4559 14.6667C10.3888 14.6667 8.61798 13.1947 8.24363 11.1589C8.20913 10.9811 8.14736 10.1287 8.14736 10.1287L7.76707 3.33333H17.1447ZM6.83975 10.6201H5.57567C5.06851 10.6201 4.64337 10.222 4.60822 9.71582L4.33413 5.59212C4.32632 5.48112 4.38035 5.4056 4.41291 5.37044C4.44676 5.33398 4.52033 5.27343 4.63556 5.27343H6.53921L6.83975 10.6201Z' fill='%23FA4A0C' stroke='%23FA4A0C' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.navigation__navbarMenu__icon--dautruong {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.96595 18.1923C10.7738 19.0069 11.2186 20.0817 11.2186 21.2188C11.2186 21.6502 10.8689 22 10.4374 22C10.0059 22 9.65615 21.6502 9.65615 21.2188C9.65615 19.711 8.43487 18.4844 6.93375 18.4844H6.28489C4.78373 18.4844 3.56249 19.711 3.56249 21.2188C3.56249 21.6502 3.21273 22 2.78124 22C2.34976 22 2 21.6502 2 21.2188C2 20.0817 2.44492 19.0068 3.25269 18.1923C4.06506 17.373 5.14189 16.9219 6.28489 16.9219H6.93375C8.07675 16.922 9.15358 17.3731 9.96595 18.1923V18.1923ZM20.7471 18.1923C19.9347 17.373 18.8579 16.9219 17.7149 16.9219H17.0661C15.9231 16.9219 14.8462 17.373 14.0339 18.1923C13.226 19.0069 12.7812 20.0817 12.7812 21.2188C12.7812 21.6502 13.1309 22 13.5624 22C13.9939 22 14.3437 21.6502 14.3437 21.2188C14.3437 19.711 15.5649 18.4844 17.0661 18.4844H17.7149C19.2161 18.4844 20.4373 19.711 20.4373 21.2188C20.4373 21.6502 20.7871 22 21.2186 22C21.65 22 21.9998 21.6502 21.9998 21.2188C21.9998 20.0817 21.5549 19.0069 20.7471 18.1923V18.1923ZM3.75776 12.586C3.75776 10.9706 5.07201 9.65638 6.68743 9.65638C8.30284 9.65638 9.61709 10.9706 9.61709 12.586C9.61709 14.2015 8.30284 15.5157 6.68743 15.5157C5.07201 15.5157 3.75776 14.2015 3.75776 12.586ZM5.32025 12.586C5.32025 13.3399 5.93356 13.9532 6.68743 13.9532C7.44129 13.9532 8.0546 13.3399 8.0546 12.586C8.0546 11.8322 7.44129 11.2189 6.68743 11.2189C5.93356 11.2189 5.32025 11.8322 5.32025 12.586ZM14.5389 12.586C14.5389 10.9706 15.8532 9.65638 17.4686 9.65638C19.084 9.65638 20.3983 10.9706 20.3983 12.586C20.3983 14.2015 19.084 15.5157 17.4686 15.5157C15.8532 15.5157 14.5389 14.2015 14.5389 12.586ZM16.1014 12.586C16.1014 13.3399 16.7147 13.9532 17.4686 13.9532C18.2225 13.9532 18.8358 13.3399 18.8358 12.586C18.8358 11.8322 18.2225 11.2189 17.4686 11.2189C16.7147 11.2189 16.1014 11.8322 16.1014 12.586ZM9.24674 8.64077C9.24432 8.64077 9.24209 8.64077 9.23971 8.64077C8.48643 8.63776 7.85081 8.15155 7.62043 7.40202C7.615 7.38437 6.59036 2.95753 6.59036 2.95753C6.49313 2.53714 6.75508 2.11757 7.17547 2.02031C7.59566 1.923 8.01538 2.18499 8.11265 2.60538L9.12053 6.96254C9.14834 7.03914 9.19045 7.07808 9.246 7.07828H9.24647C9.30119 7.07828 9.34315 7.04003 9.37119 6.96445L10.42 2.59894C10.5208 2.17937 10.9428 1.92101 11.3621 2.02179C11.7816 2.12261 12.04 2.54437 11.9392 2.96393C11.9392 2.96393 10.8732 7.39863 10.8676 7.41613C10.6322 8.16069 9.99638 8.64077 9.24674 8.64077V8.64077ZM16.8699 8.05401C17.2812 7.66323 17.5077 7.14328 17.5077 6.59C17.5077 5.45919 16.4965 4.53923 15.2536 4.53923C14.7971 4.53923 14.4529 4.32931 14.4529 4.05096C14.4529 3.7817 14.6774 3.56268 14.9533 3.56268C15.269 3.56268 15.6805 3.59674 16.3394 3.8494C16.7422 4.00396 17.1941 3.80256 17.3486 3.39967C17.503 2.99682 17.3017 2.54499 16.8988 2.3905C15.9967 2.04453 15.3852 2.00015 14.9532 2.00015C13.8158 2.00015 12.8904 2.92011 12.8904 4.05092C12.8904 5.22005 13.9064 6.10168 15.2536 6.10168C15.6285 6.10168 15.9451 6.32527 15.9451 6.58996C15.9451 6.85008 15.6922 7.07824 15.4038 7.07824C15.1906 7.07824 14.539 6.9955 13.8865 6.73972C13.4849 6.58226 13.0315 6.78027 12.874 7.18199C12.7166 7.5837 12.9146 8.03698 13.3163 8.19444C14.1028 8.50272 14.9315 8.64073 15.4038 8.64073C15.9511 8.64076 16.4718 8.43237 16.8699 8.05401V8.05401Z' fill='%2394A3B8' stroke='%2394A3B8' stroke-width='0.25'/%3E%3C/svg%3E%0A");
}
.uk-active .navigation__navbarMenu__icon--dautruong {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.96595 18.1923C10.7738 19.0069 11.2186 20.0817 11.2186 21.2188C11.2186 21.6502 10.8689 22 10.4374 22C10.0059 22 9.65615 21.6502 9.65615 21.2188C9.65615 19.711 8.43487 18.4844 6.93375 18.4844H6.28489C4.78373 18.4844 3.56249 19.711 3.56249 21.2188C3.56249 21.6502 3.21273 22 2.78124 22C2.34976 22 2 21.6502 2 21.2188C2 20.0817 2.44492 19.0068 3.25269 18.1923C4.06506 17.373 5.14189 16.9219 6.28489 16.9219H6.93375C8.07675 16.922 9.15358 17.3731 9.96595 18.1923V18.1923ZM20.7471 18.1923C19.9347 17.373 18.8579 16.9219 17.7149 16.9219H17.0661C15.9231 16.9219 14.8462 17.373 14.0339 18.1923C13.226 19.0069 12.7812 20.0817 12.7812 21.2188C12.7812 21.6502 13.1309 22 13.5624 22C13.9939 22 14.3437 21.6502 14.3437 21.2188C14.3437 19.711 15.5649 18.4844 17.0661 18.4844H17.7149C19.2161 18.4844 20.4373 19.711 20.4373 21.2188C20.4373 21.6502 20.7871 22 21.2186 22C21.65 22 21.9998 21.6502 21.9998 21.2188C21.9998 20.0817 21.5549 19.0069 20.7471 18.1923V18.1923ZM3.75776 12.586C3.75776 10.9706 5.07201 9.65638 6.68743 9.65638C8.30284 9.65638 9.61709 10.9706 9.61709 12.586C9.61709 14.2015 8.30284 15.5157 6.68743 15.5157C5.07201 15.5157 3.75776 14.2015 3.75776 12.586ZM5.32025 12.586C5.32025 13.3399 5.93356 13.9532 6.68743 13.9532C7.44129 13.9532 8.0546 13.3399 8.0546 12.586C8.0546 11.8322 7.44129 11.2189 6.68743 11.2189C5.93356 11.2189 5.32025 11.8322 5.32025 12.586ZM14.5389 12.586C14.5389 10.9706 15.8532 9.65638 17.4686 9.65638C19.084 9.65638 20.3983 10.9706 20.3983 12.586C20.3983 14.2015 19.084 15.5157 17.4686 15.5157C15.8532 15.5157 14.5389 14.2015 14.5389 12.586ZM16.1014 12.586C16.1014 13.3399 16.7147 13.9532 17.4686 13.9532C18.2225 13.9532 18.8358 13.3399 18.8358 12.586C18.8358 11.8322 18.2225 11.2189 17.4686 11.2189C16.7147 11.2189 16.1014 11.8322 16.1014 12.586ZM9.24674 8.64077C9.24432 8.64077 9.24209 8.64077 9.23971 8.64077C8.48643 8.63776 7.85081 8.15155 7.62043 7.40202C7.615 7.38437 6.59036 2.95753 6.59036 2.95753C6.49313 2.53714 6.75508 2.11757 7.17547 2.02031C7.59566 1.923 8.01538 2.18499 8.11265 2.60538L9.12053 6.96254C9.14834 7.03914 9.19045 7.07808 9.246 7.07828H9.24647C9.30119 7.07828 9.34315 7.04003 9.37119 6.96445L10.42 2.59894C10.5208 2.17937 10.9428 1.92101 11.3621 2.02179C11.7816 2.12261 12.04 2.54437 11.9392 2.96393C11.9392 2.96393 10.8732 7.39863 10.8676 7.41613C10.6322 8.16069 9.99638 8.64077 9.24674 8.64077V8.64077ZM16.8699 8.05401C17.2812 7.66323 17.5077 7.14328 17.5077 6.59C17.5077 5.45919 16.4965 4.53923 15.2536 4.53923C14.7971 4.53923 14.4529 4.32931 14.4529 4.05096C14.4529 3.7817 14.6774 3.56268 14.9533 3.56268C15.269 3.56268 15.6805 3.59674 16.3394 3.8494C16.7422 4.00396 17.1941 3.80256 17.3486 3.39967C17.503 2.99682 17.3017 2.54499 16.8988 2.3905C15.9967 2.04453 15.3852 2.00015 14.9532 2.00015C13.8158 2.00015 12.8904 2.92011 12.8904 4.05092C12.8904 5.22005 13.9064 6.10168 15.2536 6.10168C15.6285 6.10168 15.9451 6.32527 15.9451 6.58996C15.9451 6.85008 15.6922 7.07824 15.4038 7.07824C15.1906 7.07824 14.539 6.9955 13.8865 6.73972C13.4849 6.58226 13.0315 6.78027 12.874 7.18199C12.7166 7.5837 12.9146 8.03698 13.3163 8.19444C14.1028 8.50272 14.9315 8.64073 15.4038 8.64073C15.9511 8.64076 16.4718 8.43237 16.8699 8.05401V8.05401Z' fill='%23FA4A0C' stroke='%23FA4A0C' stroke-width='0.25'/%3E%3C/svg%3E%0A");
}
.navigation__navbarMenu__icon--thele {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5624 6.15109L14.7959 2.58773C14.3953 2.20871 13.8709 2 13.3194 2H6.14844C4.96379 2 4 2.96379 4 4.14844V19.8516C4 21.0362 4.96379 22 6.14844 22H17.0859C18.2706 22 19.2344 21.0362 19.2344 19.8516V7.7118C19.2344 7.12395 18.9895 6.55508 18.5624 6.15109ZM17.4243 6.6875H14.5078C14.4001 6.6875 14.3125 6.59988 14.3125 6.49219V3.74359L17.4243 6.6875ZM17.0859 20.8281H6.14844C5.60996 20.8281 5.17188 20.39 5.17188 19.8516V4.14844C5.17188 3.60996 5.60996 3.17188 6.14844 3.17188H13.1406V6.49219C13.1406 7.24605 13.7539 7.85938 14.5078 7.85938H18.0625V19.8516C18.0625 20.39 17.6244 20.8281 17.0859 20.8281Z' fill='%2394A3B8' stroke='%2394A3B8' stroke-width='0.5'/%3E%3Cpath d='M15.7969 9.8125H7.20312C6.87953 9.8125 6.61719 10.0748 6.61719 10.3984C6.61719 10.722 6.87953 10.9844 7.20312 10.9844H15.7969C16.1205 10.9844 16.3828 10.722 16.3828 10.3984C16.3828 10.0748 16.1205 9.8125 15.7969 9.8125Z' fill='%2394A3B8' stroke='%2394A3B8' stroke-width='0.5'/%3E%3Cpath d='M15.7969 12.9375H7.20312C6.87953 12.9375 6.61719 13.1998 6.61719 13.5234C6.61719 13.847 6.87953 14.1094 7.20312 14.1094H15.7969C16.1205 14.1094 16.3828 13.847 16.3828 13.5234C16.3828 13.1998 16.1205 12.9375 15.7969 12.9375Z' fill='%2394A3B8' stroke='%2394A3B8' stroke-width='0.5'/%3E%3Cpath d='M10.0437 16.0625H7.20312C6.87953 16.0625 6.61719 16.3248 6.61719 16.6484C6.61719 16.972 6.87953 17.2344 7.20312 17.2344H10.0437C10.3673 17.2344 10.6297 16.972 10.6297 16.6484C10.6297 16.3248 10.3673 16.0625 10.0437 16.0625Z' fill='%2394A3B8' stroke='%2394A3B8' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.uk-active .navigation__navbarMenu__icon--thele {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5624 6.15109L14.7959 2.58773C14.3953 2.20871 13.8709 2 13.3194 2H6.14844C4.96379 2 4 2.96379 4 4.14844V19.8516C4 21.0362 4.96379 22 6.14844 22H17.0859C18.2706 22 19.2344 21.0362 19.2344 19.8516V7.7118C19.2344 7.12395 18.9895 6.55508 18.5624 6.15109ZM17.4243 6.6875H14.5078C14.4001 6.6875 14.3125 6.59988 14.3125 6.49219V3.74359L17.4243 6.6875ZM17.0859 20.8281H6.14844C5.60996 20.8281 5.17188 20.39 5.17188 19.8516V4.14844C5.17188 3.60996 5.60996 3.17188 6.14844 3.17188H13.1406V6.49219C13.1406 7.24605 13.7539 7.85938 14.5078 7.85938H18.0625V19.8516C18.0625 20.39 17.6244 20.8281 17.0859 20.8281Z' fill='%23FA4A0C' stroke='%23FA4A0C' stroke-width='0.5'/%3E%3Cpath d='M15.7969 9.8125H7.20312C6.87953 9.8125 6.61719 10.0748 6.61719 10.3984C6.61719 10.722 6.87953 10.9844 7.20312 10.9844H15.7969C16.1205 10.9844 16.3828 10.722 16.3828 10.3984C16.3828 10.0748 16.1205 9.8125 15.7969 9.8125Z' fill='%23FA4A0C' stroke='%23FA4A0C' stroke-width='0.5'/%3E%3Cpath d='M15.7969 12.9375H7.20312C6.87953 12.9375 6.61719 13.1998 6.61719 13.5234C6.61719 13.847 6.87953 14.1094 7.20312 14.1094H15.7969C16.1205 14.1094 16.3828 13.847 16.3828 13.5234C16.3828 13.1998 16.1205 12.9375 15.7969 12.9375Z' fill='%23FA4A0C' stroke='%23FA4A0C' stroke-width='0.5'/%3E%3Cpath d='M10.0437 16.0625H7.20312C6.87953 16.0625 6.61719 16.3248 6.61719 16.6484C6.61719 16.972 6.87953 17.2344 7.20312 17.2344H10.0437C10.3673 17.2344 10.6297 16.972 10.6297 16.6484C10.6297 16.3248 10.3673 16.0625 10.0437 16.0625Z' fill='%23FA4A0C' stroke='%23FA4A0C' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.navigation__navbarMenu__icon--taikhoan {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21' stroke='%2394A3B8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z' stroke='%2394A3B8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.uk-active .navigation__navbarMenu__icon--taikhoan {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21' stroke='%23FA4A0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z' stroke='%23FA4A0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.navigation__navbarMenu__subtitle {
  font-family: "Dosis Medium", sans-serif;
  font-size: 12px;
  line-height: 1.4;
  color: #94A3B8;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 2px;
}
.uk-active .navigation__navbarMenu__subtitle {
  color: #FA4A0C;
}

.offcanvas {
  background: #FA4A0C;
}
.offcanvas.uk-open .uk-offcanvas-reveal {
  width: 185px !important;
}
.offcanvas__bar {
  background: #FA4A0C;
  width: 185px;
  padding-right: 0;
  padding-top: 77px;
  padding-bottom: 77px;
  padding-left: 15px;
}
.offcanvas__back {
  position: inherit;
  color: #FFFFFF !important;
  font-size: 16px;
  font-family: "Dosis SemiBold", sans-serif;
  display: flex;
  align-items: center;
  padding: 0;
}
.offcanvas__nav > li:nth-child(n+2) {
  position: relative;
}
.offcanvas__nav > li:nth-child(n+2):before {
  content: "";
  height: 1px;
  right: 0;
  top: 0;
  left: 38px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
}
.offcanvas__nav > li > a {
  font-size: 16px;
  color: #ffffff !important;
  font-family: "Dosis SemiBold", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.offcanvas__nav > li:first-child > a {
  padding-top: 0;
}
.offcanvas__nav > li:last-child > a {
  padding-bottom: 0;
}
.offcanvas__nav__icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offcanvas__nav__icon svg {
  opacity: 0;
}
.offcanvas__nav__icon--profile {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.offcanvas__nav__icon--bxh {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.43699 4.46191C3.12971 4.79199 2.97215 5.23893 3.00405 5.68425L3.27749 9.80632C3.36148 11.0104 4.37125 11.9535 5.57567 11.9535H7.06485C7.69009 14.1156 9.55679 15.6906 11.7892 15.9558V17.6467C10.0652 17.9624 8.7534 19.4773 8.7534 21.3333C8.7534 21.7015 9.05158 22 9.42007 22H15.4917C15.8602 22 16.1583 21.654 16.1583 21.2858C16.1583 19.472 14.8466 17.9619 13.1225 17.6466V15.9558C15.3571 15.6904 17.2253 14.1132 17.8478 11.9535H19.3361C20.5405 11.9535 21.5503 11.0104 21.6343 9.80437L21.9077 5.6862C21.939 5.23763 21.7814 4.79167 21.4748 4.46191C21.1662 4.13021 20.7293 3.94011 20.2762 3.94011H18.4453L18.5145 2.70345C18.5249 2.52051 18.4591 2.34147 18.3335 2.20833C18.2072 2.07552 18.032 2 17.8491 2H7.06265C6.87971 2 6.70457 2.07552 6.57827 2.20833C6.45262 2.34147 6.38687 2.52051 6.39728 2.70345L6.46641 3.94011H4.63556C4.18244 3.94011 3.74559 4.13021 3.43699 4.46191ZM14.743 20.6667H10.1688C10.4416 19.6595 11.3634 18.9167 12.4559 18.9167C13.5483 18.9167 14.4702 19.6595 14.743 20.6667ZM18.3725 5.27344H20.2762C20.3914 5.27344 20.465 5.33399 20.4988 5.37045C20.5314 5.4056 20.5854 5.48113 20.5776 5.59213C20.5776 5.59343 20.577 5.59441 20.577 5.59571L20.3035 9.71387C20.2684 10.222 19.8432 10.6201 19.3361 10.6201H18.0718L18.3725 5.27344ZM17.1447 3.33333L16.7371 10.6126C16.7261 10.7966 16.7026 10.9808 16.6668 11.1663C16.2938 13.1947 14.5229 14.6667 12.4559 14.6667C10.3888 14.6667 8.61798 13.1947 8.24363 11.1589C8.20913 10.9811 8.14736 10.1287 8.14736 10.1287L7.76707 3.33333H17.1447ZM6.83975 10.6201H5.57567C5.06851 10.6201 4.64337 10.222 4.60822 9.71582L4.33413 5.59212C4.32632 5.48112 4.38035 5.4056 4.41291 5.37044C4.44676 5.33398 4.52033 5.27343 4.63556 5.27343H6.53921L6.83975 10.6201Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.offcanvas__nav__icon--dautruong {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.96595 18.1923C10.7738 19.0069 11.2186 20.0817 11.2186 21.2188C11.2186 21.6502 10.8689 22 10.4374 22C10.0059 22 9.65615 21.6502 9.65615 21.2188C9.65615 19.711 8.43487 18.4844 6.93375 18.4844H6.28489C4.78373 18.4844 3.56249 19.711 3.56249 21.2188C3.56249 21.6502 3.21273 22 2.78124 22C2.34976 22 2 21.6502 2 21.2188C2 20.0817 2.44492 19.0068 3.25269 18.1923C4.06506 17.373 5.14189 16.9219 6.28489 16.9219H6.93375C8.07675 16.922 9.15358 17.3731 9.96595 18.1923ZM20.7471 18.1923C19.9347 17.373 18.8579 16.9219 17.7149 16.9219H17.0661C15.9231 16.9219 14.8462 17.373 14.0339 18.1923C13.226 19.0069 12.7812 20.0817 12.7812 21.2188C12.7812 21.6502 13.1309 22 13.5624 22C13.9939 22 14.3437 21.6502 14.3437 21.2188C14.3437 19.711 15.5649 18.4844 17.0661 18.4844H17.7149C19.2161 18.4844 20.4373 19.711 20.4373 21.2188C20.4373 21.6502 20.7871 22 21.2186 22C21.65 22 21.9998 21.6502 21.9998 21.2188C21.9998 20.0817 21.5549 19.0069 20.7471 18.1923ZM3.75776 12.586C3.75776 10.9706 5.07201 9.65638 6.68743 9.65638C8.30284 9.65638 9.61709 10.9706 9.61709 12.586C9.61709 14.2015 8.30284 15.5157 6.68743 15.5157C5.07201 15.5157 3.75776 14.2015 3.75776 12.586ZM5.32025 12.586C5.32025 13.3399 5.93356 13.9532 6.68743 13.9532C7.44129 13.9532 8.0546 13.3399 8.0546 12.586C8.0546 11.8322 7.44129 11.2189 6.68743 11.2189C5.93356 11.2189 5.32025 11.8322 5.32025 12.586ZM14.5389 12.586C14.5389 10.9706 15.8532 9.65638 17.4686 9.65638C19.084 9.65638 20.3983 10.9706 20.3983 12.586C20.3983 14.2015 19.084 15.5157 17.4686 15.5157C15.8532 15.5157 14.5389 14.2015 14.5389 12.586ZM16.1014 12.586C16.1014 13.3399 16.7147 13.9532 17.4686 13.9532C18.2225 13.9532 18.8358 13.3399 18.8358 12.586C18.8358 11.8322 18.2225 11.2189 17.4686 11.2189C16.7147 11.2189 16.1014 11.8322 16.1014 12.586ZM9.24674 8.64077C9.24432 8.64077 9.24209 8.64077 9.23971 8.64077C8.48643 8.63776 7.85081 8.15155 7.62043 7.40202C7.615 7.38437 6.59036 2.95753 6.59036 2.95753C6.49313 2.53714 6.75508 2.11757 7.17547 2.02031C7.59566 1.923 8.01538 2.18499 8.11265 2.60538L9.12053 6.96254C9.14834 7.03914 9.19045 7.07808 9.246 7.07828H9.24647C9.30119 7.07828 9.34315 7.04003 9.37119 6.96445L10.42 2.59894C10.5208 2.17937 10.9428 1.92101 11.3621 2.02179C11.7816 2.12261 12.04 2.54437 11.9392 2.96393C11.9392 2.96393 10.8732 7.39863 10.8676 7.41613C10.6322 8.16069 9.99638 8.64077 9.24674 8.64077ZM16.8699 8.05401C17.2812 7.66323 17.5077 7.14328 17.5077 6.59C17.5077 5.45919 16.4965 4.53923 15.2536 4.53923C14.7971 4.53923 14.4529 4.32931 14.4529 4.05096C14.4529 3.7817 14.6774 3.56268 14.9533 3.56268C15.269 3.56268 15.6805 3.59674 16.3394 3.8494C16.7422 4.00396 17.1941 3.80256 17.3486 3.39967C17.503 2.99682 17.3017 2.54499 16.8988 2.3905C15.9967 2.04453 15.3852 2.00015 14.9532 2.00015C13.8158 2.00015 12.8904 2.92011 12.8904 4.05092C12.8904 5.22005 13.9064 6.10168 15.2536 6.10168C15.6285 6.10168 15.9451 6.32527 15.9451 6.58996C15.9451 6.85008 15.6922 7.07824 15.4038 7.07824C15.1906 7.07824 14.539 6.9955 13.8865 6.73972C13.4849 6.58226 13.0315 6.78027 12.874 7.18199C12.7166 7.5837 12.9146 8.03698 13.3163 8.19444C14.1028 8.50272 14.9315 8.64073 15.4038 8.64073C15.9511 8.64076 16.4718 8.43237 16.8699 8.05401Z' fill='white' stroke='white' stroke-width='0.25'/%3E%3C/svg%3E%0A");
}
.offcanvas__nav__icon--giaithuong {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.6923 6.10313H18.6C18.8093 5.708 18.9201 5.2682 18.9231 4.82107C18.9237 4.23922 18.7442 3.67144 18.4092 3.19571C18.0742 2.71998 17.6001 2.35964 17.0521 2.16418C16.504 1.96873 15.9089 1.94774 15.3485 2.10411C14.788 2.26048 14.2897 2.58653 13.9221 3.03748C13.8944 3.07748 12.7415 4.60569 12 5.59236C11.2574 4.60466 10.1036 3.07031 10.0708 3.02825C9.70186 2.5795 9.20325 2.25575 8.64322 2.10135C8.0832 1.94694 7.48913 1.96942 6.94237 2.16571C6.39561 2.362 5.9229 2.7225 5.58896 3.19785C5.25501 3.6732 5.07617 4.24015 5.07692 4.82107C5.07989 5.2682 5.19072 5.708 5.4 6.10313H4.30769C3.6959 6.10394 3.10941 6.34733 2.67681 6.77993C2.24421 7.21253 2.00081 7.79903 2 8.41082V12.0006C2 12.2046 2.08104 12.4002 2.2253 12.5445C2.36956 12.6887 2.56522 12.7698 2.76923 12.7698H3.02564V18.1544C2.96541 18.6741 3.02346 19.2006 3.19545 19.6947C3.36745 20.1887 3.64892 20.6375 4.01883 21.0074C4.38874 21.3773 4.8375 21.6588 5.33155 21.8307C5.8256 22.0027 6.35214 22.0608 6.8718 22.0006H17.1282C17.6479 22.0608 18.1744 22.0027 18.6684 21.8307C19.1625 21.6588 19.6113 21.3773 19.9812 21.0074C20.3511 20.6375 20.6326 20.1887 20.8045 19.6947C20.9765 19.2006 21.0346 18.6741 20.9744 18.1544V12.7698H21.2308C21.4348 12.7698 21.6304 12.6887 21.7747 12.5445C21.919 12.4002 22 12.2046 22 12.0006V8.41082C21.9992 7.79903 21.7558 7.21253 21.3232 6.77993C20.8906 6.34733 20.3041 6.10394 19.6923 6.10313ZM20.4615 8.41082V11.2313H12.7692V7.64159H19.6923C19.8962 7.64186 20.0917 7.72299 20.2359 7.86719C20.3801 8.01139 20.4613 8.20689 20.4615 8.41082ZM15.1169 4.00774C15.2353 3.86041 15.3854 3.74173 15.5561 3.66056C15.7268 3.5794 15.9136 3.53785 16.1026 3.53902C16.4426 3.53902 16.7687 3.6741 17.0091 3.91453C17.2495 4.15496 17.3846 4.48105 17.3846 4.82107C17.3846 5.1611 17.2495 5.48719 17.0091 5.72762C16.7687 5.96805 16.4426 6.10313 16.1026 6.10313H13.5385C14.2328 5.1821 15.0687 4.07031 15.1169 4.00774ZM6.61539 4.82107C6.61593 4.48122 6.75117 4.15544 6.99149 3.91513C7.2318 3.67481 7.55758 3.53957 7.89744 3.53902C8.08298 3.53714 8.26659 3.57678 8.43483 3.65504C8.60306 3.7333 8.75166 3.8482 8.86974 3.99133C8.92308 4.06415 9.76513 5.18005 10.4615 6.10313H7.89744C7.55758 6.10258 7.2318 5.96734 6.99149 5.72702C6.75117 5.48671 6.61593 5.16093 6.61539 4.82107ZM3.53846 8.41082C3.53873 8.20689 3.61986 8.01139 3.76406 7.86719C3.90826 7.72299 4.10376 7.64186 4.30769 7.64159H11.2308V11.2313H3.53846V8.41082ZM4.5641 18.1544V12.7698H11.2308V20.4621H6.8718C5.25436 20.4621 4.5641 19.7718 4.5641 18.1544ZM19.4359 18.1544C19.4359 19.7718 18.7456 20.4621 17.1282 20.4621H12.7692V12.7698H19.4359V18.1544Z' fill='white' stroke='white' stroke-width='0.25'/%3E%3C/svg%3E%0A");
}
.offcanvas__nav__icon--thele {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5624 6.15109L14.7959 2.58773C14.3953 2.20871 13.8709 2 13.3194 2H6.14844C4.96379 2 4 2.96379 4 4.14844V19.8516C4 21.0362 4.96379 22 6.14844 22H17.0859C18.2706 22 19.2344 21.0362 19.2344 19.8516V7.7118C19.2344 7.12395 18.9895 6.55508 18.5624 6.15109ZM17.4243 6.6875H14.5078C14.4001 6.6875 14.3125 6.59988 14.3125 6.49219V3.74359L17.4243 6.6875ZM17.0859 20.8281H6.14844C5.60996 20.8281 5.17188 20.39 5.17188 19.8516V4.14844C5.17188 3.60996 5.60996 3.17188 6.14844 3.17188H13.1406V6.49219C13.1406 7.24605 13.7539 7.85938 14.5078 7.85938H18.0625V19.8516C18.0625 20.39 17.6244 20.8281 17.0859 20.8281Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3Cpath d='M15.7969 9.8125H7.20312C6.87953 9.8125 6.61719 10.0748 6.61719 10.3984C6.61719 10.722 6.87953 10.9844 7.20312 10.9844H15.7969C16.1205 10.9844 16.3828 10.722 16.3828 10.3984C16.3828 10.0748 16.1205 9.8125 15.7969 9.8125Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3Cpath d='M15.7969 12.9375H7.20312C6.87953 12.9375 6.61719 13.1998 6.61719 13.5234C6.61719 13.847 6.87953 14.1094 7.20312 14.1094H15.7969C16.1205 14.1094 16.3828 13.847 16.3828 13.5234C16.3828 13.1998 16.1205 12.9375 15.7969 12.9375Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3Cpath d='M10.0437 16.0625H7.20312C6.87953 16.0625 6.61719 16.3248 6.61719 16.6484C6.61719 16.972 6.87953 17.2344 7.20312 17.2344H10.0437C10.3673 17.2344 10.6297 16.972 10.6297 16.6484C10.6297 16.3248 10.3673 16.0625 10.0437 16.0625Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
}
.offcanvas__nav__icon--back {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_8_487)'%3E%3Cpath d='M1 8H15' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 1L15 8L8 15' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_8_487'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

body:not(.uk-offcanvas-flip).uk-offcanvas-container-animation {
  left: calc(185px - 1px);
}

.app {
  transition: margin 0.3s ease-out;
}
.uk-offcanvas-page .app {
  margin-top: 77px;
  margin-bottom: 77px;
  filter: drop-shadow(0px 8px 30px rgba(0, 0, 0, 0.3));
  border-radius: 20px;
  position: relative;
  left: 50px;
}
.uk-offcanvas-page .app__container {
  max-height: calc(100vh - 77px - 77px);
}

.navbar__top {
  background: linear-gradient(94.07deg, #FEAB2F 0%, #FA4A0C 100%) !important;
}
.navbar__top .uk-navbar-toggle {
  padding: 0 15px;
  color: #FFFFFF;
}
.navbar__top .uk-navbar-item,
.navbar__top .uk-navbar-toggle {
  min-height: 60px;
}
.navbar__top__icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar__top__icon svg {
  opacity: 0;
}
.navbar__top__icon--back {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.57 5.92993L3.5 11.9999L9.57 18.0699' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.5 12H3.66998' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.navbar__top__icon--calendar {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 2V6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 10H21' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.navbar__top__title {
  letter-spacing: 0.3px;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Dosis SemiBold", sans-serif;
  line-height: 1.4;
  margin: 0;
}

.bottomfixed {
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px -8px 16px rgba(117, 136, 163, 0.08);
}
.bottomfixed__btn {
  background: #FA4A0C !important;
  border-radius: 8px;
  text-transform: inherit;
  letter-spacing: 0.3px;
  font-size: 16px;
  font-family: "Dosis Bold", sans-serif;
  line-height: 48px;
}

.home__menu {
  color: #FFFFFF !important;
  padding: 0 15px;
}
.home__bxh {
  padding-bottom: 20px;
}
.home__bxh__txt {
  width: 194px;
  background: linear-gradient(106.03deg, #FBFEFF 0%, #C9EDFE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 2px 12px #61CBFC;
  font-family: "Dosis Regular", sans-serif !important;
  font-size: 34px !important;
  line-height: 1.51;
}
.home__bxh__txt span {
  font-size: 32px !important;
  font-family: "Dosis Bold", sans-serif !important;
}
.home__boxSpace {
  margin-left: -15px;
  margin-right: -15px;
}
.home__overflow__boxshadow {
  padding-top: 24px;
}
.home__overflow__scrollbar::-webkit-scrollbar {
  display: none;
}
.home__overflow__column:first-child {
  margin-left: 15px;
}
.home__overflow__column:last-child {
  padding-right: 15px;
}
.home__content {
  background: #FCFCFC;
  padding-top: 24px;
  padding-bottom: 24px;
}
.home__content__card {
  box-sizing: border-box;
  max-width: 142px;
  min-width: 142px;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 14px;
  text-align: center;
  margin-top: calc(calc((142px - 2px - 14px) / 2) - (14px/2));
}
.home__content__card__avartar {
  margin-top: calc(0px - calc((142px - 2px - 14px) / 2) - (14px/2));
}
.home__content__card__title {
  color: #0F172A;
  opacity: 0.9;
  font-size: 16px;
  font-family: "Dosis Bold", sans-serif;
  line-height: 1.25;
}
.home__content__card__txt {
  line-height: 1.2857142857;
  font-size: 14px;
  color: #FA4A0C;
  font-family: "Dosis Regular", sans-serif;
}
.home__content__tab {
  margin-bottom: 0;
}
.home__content__tab > li:first-child {
  margin-left: 15px;
}
.home__content__tab > li:last-child {
  padding-right: 15px;
}
.home__content__tab > li > a {
  text-transform: inherit !important;
  color: #9A9A9D;
  text-align: center;
  font-size: 18px !important;
  font-family: "Dosis SemiBold", sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 1.2777777778;
}
.home__content__tab > li > a:after {
  content: "";
  width: 80px;
  height: 3px;
  display: flex;
  background: transparent;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 40px;
}
.home__content__tab > li.uk-active > a {
  color: #FA4A0C;
}
.home__content__tab > li.uk-active > a:after {
  background: #FA4A0C;
  box-shadow: 0px 2px 8px rgba(250, 74, 12, 0.35);
}
.home__content__search__input {
  letter-spacing: 0.3px;
  color: #94A3B8;
  font-size: 14px;
  font-family: "Dosis Regular", sans-serif;
  border-color: #E2E8F0;
  border-radius: 8px;
  height: 50px !important;
}
.home__content__search__input:focus {
  border-color: #FA4A0C !important;
}
.home__content__search__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10_1241)'%3E%3Cpath d='M9.58329 17.5001C13.9555 17.5001 17.5 13.9557 17.5 9.58341C17.5 5.21116 13.9555 1.66675 9.58329 1.66675C5.21104 1.66675 1.66663 5.21116 1.66663 9.58341C1.66663 13.9557 5.21104 17.5001 9.58329 17.5001Z' stroke='%230F172A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.3333 18.3334L16.6666 16.6667' stroke='%230F172A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10_1241'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.home__content__search__icon svg {
  opacity: 0;
}

.bangxephangtong__title {
  letter-spacing: 0.3px;
  color: #0F172A;
  font-size: 16px;
  font-family: "Dosis Bold", sans-serif;
  line-height: 1.4;
  margin: 0;
}
.bangxephangtong__table {
  border: 1px solid #DBDCE0;
}
@media (max-width: 959.98px) {
  .bangxephangtong__table {
    border-left: none;
    border-right: none;
  }
}
.bangxephangtong__table tr td {
  color: #0F172A;
  font-size: 13px;
  font-family: "Dosis Regular", sans-serif;
}
.bangxephangtong__table tr th {
  text-transform: inherit;
  letter-spacing: 0.3px;
  color: rgba(0, 21, 133, 0.75);
  font-size: 12px;
  font-family: "Dosis Bold", sans-serif;
  background: rgba(41, 71, 122, 0.1);
}
.bangxephangtong__table tr td, .bangxephangtong__table tr th {
  padding-top: 8px;
  padding-bottom: 8px;
}
.bangxephangtong__table tr td:not(:first-child), .bangxephangtong__table tr th:not(:first-child) {
  border-left: 1px solid #DBDCE0;
}
.bangxephangtong__search {
  width: 188px;
}
.bangxephangtong__search__input {
  height: 36px !important;
  letter-spacing: 0.3px;
  color: #94A3B8;
  font-size: 14px;
  font-family: "Dosis Regular", sans-serif;
  border-radius: 8px;
  border-color: #E2E8F0 !important;
}
.bangxephangtong__search__input::placeholder {
  color: #94A3B8;
}
.bangxephangtong__search__input:focus {
  border-color: #FA4A0C !important;
}
.bangxephangtong__search__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_564_876)'%3E%3Cpath d='M7.66665 13.9999C11.1644 13.9999 14 11.1644 14 7.66659C14 4.16878 11.1644 1.33325 7.66665 1.33325C4.16884 1.33325 1.33331 4.16878 1.33331 7.66659C1.33331 11.1644 4.16884 13.9999 7.66665 13.9999Z' stroke='%2394A3B8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.6666 14.6666L13.3333 13.3333' stroke='%2394A3B8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_564_876'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.bangxephangtong__search__icon svg {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
