.giaithuong{
  &__iconGift{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    background-color: #FA4A0C;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.06779 10.166C5.69613 10.166 1.65916 10.166 1.65916 10.166C1.23061 10.166 0.879944 10.5166 0.879944 10.9452V16.7935C0.879944 17.2221 1.23061 17.5727 1.65916 17.5727C1.65916 17.5727 5.7806 17.5727 7.15873 17.5727C7.34204 17.5727 7.34204 17.3758 7.34204 17.3758V10.4308C7.34198 10.4308 7.34198 10.166 7.06779 10.166Z' fill='white'/%3E%3Cpath d='M14.3409 10.166C14.3409 10.166 10.2885 10.166 8.93777 10.166C8.60868 10.166 8.65795 10.5087 8.65795 10.5087V17.3821C8.65795 17.3821 8.65528 17.5725 8.85324 17.5725C10.2251 17.5725 14.3408 17.5725 14.3408 17.5725C14.7693 17.5725 15.12 17.2219 15.12 16.7934V10.9452C15.1201 10.5166 14.7694 10.166 14.3409 10.166Z' fill='white'/%3E%3Cpath d='M7.34196 5.56433C7.34196 5.56433 7.34196 5.30029 7.08105 5.30029C5.5187 5.30029 0.779214 5.30029 0.779214 5.30029C0.350663 5.30029 0 5.65096 0 6.07945V8.51173C0 8.94028 0.350663 9.29088 0.779214 9.29088C0.779214 9.29088 5.53993 9.29088 7.10239 9.29088C7.34196 9.29088 7.34196 9.08311 7.34196 9.08311V5.56433Z' fill='white'/%3E%3Cpath d='M15.2208 5.30029C15.2208 5.30029 10.4794 5.30029 8.8989 5.30029C8.65814 5.30029 8.65814 5.5297 8.65814 5.5297V9.08793C8.65814 9.08793 8.65814 9.29088 8.95084 9.29088C10.5183 9.29088 15.2208 9.29088 15.2208 9.29088C15.6494 9.29088 16 8.94028 16 8.51173V6.07945C16 5.65096 15.6494 5.30029 15.2208 5.30029Z' fill='white'/%3E%3Cpath d='M4.69168 4.72378C4.33517 4.72378 4.00954 4.6955 3.72399 4.6397C2.99871 4.498 2.50022 4.22222 2.20002 3.79668C1.93105 3.4153 1.84874 2.94514 1.95529 2.39919C2.14195 1.44399 2.78344 0.917969 3.76146 0.917969C3.96844 0.917969 4.19575 0.941869 4.43713 0.989044C5.05114 1.109 5.83649 1.46108 6.53799 1.93084C7.72815 2.72794 7.78702 3.22348 7.72775 3.52691C7.64061 3.97278 7.22387 4.29136 6.45368 4.50096C5.93334 4.64254 5.29111 4.72378 4.69168 4.72378ZM3.76152 2.16683C3.38275 2.16683 3.25258 2.27265 3.18111 2.63864C3.12264 2.93787 3.19638 3.04239 3.22056 3.07673C3.32184 3.22036 3.58565 3.34014 3.96345 3.41388C4.1673 3.45374 4.41919 3.4748 4.69162 3.4748C5.29071 3.4748 5.81849 3.38402 6.1687 3.28473C6.19419 3.27752 6.23376 3.24738 6.19135 3.22212C5.73351 2.84914 4.89588 2.35111 4.19768 2.21469C4.03503 2.18301 3.88823 2.16683 3.76152 2.16683Z' fill='white'/%3E%3Cpath d='M11.3264 4.72372C11.3264 4.72372 11.3264 4.72372 11.3262 4.72372C10.7268 4.72372 10.0846 4.64248 9.5643 4.5009C8.79405 4.29136 8.37737 3.97272 8.29023 3.52691C8.23102 3.22348 8.28977 2.72794 9.48005 1.93084C10.1814 1.46108 10.9668 1.109 11.5809 0.989044C11.8223 0.941869 12.0496 0.917969 12.2564 0.917969C13.2347 0.917969 13.8761 1.44405 14.0626 2.39925C14.1692 2.94514 14.087 3.4153 13.818 3.79668C13.5178 4.22228 13.0193 4.498 12.2939 4.6397C12.0084 4.69539 11.6828 4.72372 11.3264 4.72372ZM9.83662 3.21434C9.79603 3.2379 9.81567 3.27508 9.83673 3.28116C10.1868 3.38181 10.7201 3.4748 11.3262 3.4748C11.5988 3.4748 11.8506 3.45374 12.0545 3.41388C12.4322 3.34008 12.6961 3.22036 12.7974 3.07673C12.8217 3.04239 12.8955 2.93787 12.8368 2.63864C12.7654 2.27265 12.6352 2.16683 12.2563 2.16683C12.1297 2.16683 11.983 2.18296 11.8202 2.21475C11.122 2.35111 10.2945 2.84131 9.83662 3.21434Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__selectBtn{
    padding-left: 16px;
    padding-right: 50px;
    text-transform: inherit;
    color: #0F172A;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-family: $font-Dosis-Regular;
    border-color: #E2E8F0;
    border-radius: 8px;
    line-height: 48px;
  }
  &__box1{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    &__title{
      color: #0F172A;
      font-size: 16px;
      font-family: $font-Dosis-SemiBold;
      line-height: (20/16);
    }
    &__txt{
      color: #FA4A0C;
      font-size: 14px;
      font-family: $font-Dosis-Medium;
      line-height: (18/14);
    }
    &__btn{
      text-transform: inherit;
      background: #{$primary-color};
      font-size: 16px;
      font-family: $font-Dosis-SemiBold;
    }
  }
  &__title{
    letter-spacing: 0.3px;
    color: #0F172A;
    line-height: 1.4;
    font-size: 24px;
    font-family: $font-Dosis-Bold;
    margin: 0;
  }
  &__box2{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    min-height: 141px;
    &__Boximg{
      //max-height: 50px;
    }
    &__txt1{
      color: #0F172A;
      font-family: $font-Dosis-SemiBold;
      font-size: 18px;
      line-height: (23/18);
    }
    &__txt2{
      color: #0F172A;
      font-family: $font-Dosis-SemiBold;
      font-size: 14px;
      line-height: (18/14);
    }
  }
}