.thele{
  &__nav{
    &__li{

    }
    &__a{
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      color: #0F172A !important;
      font-size: 16px;
      font-family: $font-Dosis-Medium;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33334 13.3332L9.72392 8.9426C10.2424 8.42408 10.2424 7.5756 9.72392 7.05708L5.33334 2.6665' stroke='%230F172A' stroke-opacity='0.35' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
      }
      &:after{
        $x:15px;
        content: "";
        left: 0;
        right: calc(0px - #{$x});
        bottom: 0;
        border-bottom: 1px solid #E2E8F0;
        position: absolute;
      }
    }
    &__icon{
      width: 36px;
      height: 36px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      svg{
        opacity: 0;
      }
      &--c1{
        background-color: rgba(244, 123, 10, 0.2);
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00577 9.57606C8.32223 9.57606 7.65405 9.37337 7.08572 8.99362C6.51738 8.61387 6.07442 8.07412 5.81284 7.44262C5.55126 6.81111 5.48282 6.11623 5.61617 5.44583C5.74952 4.77543 6.07868 4.15963 6.56201 3.6763C7.04534 3.19297 7.66114 2.86382 8.33153 2.73047C9.00193 2.59712 9.69682 2.66556 10.3283 2.92714C10.9598 3.18871 11.4996 3.63168 11.8793 4.20001C12.2591 4.76835 12.4618 5.43653 12.4618 6.12006C12.4618 7.03665 12.0977 7.9157 11.4495 8.56382C10.8014 9.21195 9.92235 9.57606 9.00577 9.57606ZM9.00577 3.81606C8.55008 3.81606 8.10462 3.95119 7.72573 4.20436C7.34684 4.45752 7.05153 4.81736 6.87715 5.23836C6.70276 5.65936 6.65714 6.12262 6.74604 6.56955C6.83494 7.01648 7.05437 7.42702 7.37659 7.74924C7.69881 8.07146 8.10935 8.29089 8.55628 8.37979C9.00321 8.46869 9.46647 8.42306 9.88747 8.24868C10.3085 8.0743 10.6683 7.77899 10.9215 7.4001C11.1746 7.0212 11.3098 6.57575 11.3098 6.12006C11.3098 5.509 11.067 4.92297 10.6349 4.49089C10.2029 4.05881 9.61683 3.81606 9.00577 3.81606Z' fill='%23FA4A0C'/%3E%3Cpath d='M9.00577 17.6403C7.72845 17.6394 6.46722 17.3554 5.31286 16.8086C4.1585 16.2618 3.13975 15.4658 2.32993 14.4781L2.03041 14.1094L2.32993 13.7465C3.14043 12.76 4.15949 11.9654 5.31381 11.4198C6.46813 10.8743 7.72901 10.5913 9.00577 10.5913C10.2825 10.5913 11.5434 10.8743 12.6977 11.4198C13.852 11.9654 14.8711 12.76 15.6816 13.7465L15.9811 14.1094L15.6816 14.4781C14.8718 15.4658 13.853 16.2618 12.6987 16.8086C11.5443 17.3554 10.2831 17.6394 9.00577 17.6403ZM3.53953 14.1152C4.24008 14.8651 5.08732 15.4631 6.02864 15.8719C6.96995 16.2807 7.98526 16.4917 9.01153 16.4917C10.0378 16.4917 11.0531 16.2807 11.9944 15.8719C12.9357 15.4631 13.783 14.8651 14.4835 14.1152C13.783 13.3652 12.9357 12.7673 11.9944 12.3584C11.0531 11.9496 10.0378 11.7387 9.01153 11.7387C7.98526 11.7387 6.96995 11.9496 6.02864 12.3584C5.08732 12.7673 4.24008 13.3652 3.53953 14.1152Z' fill='%23FA4A0C'/%3E%3Cpath d='M9.00576 17.6399C7.04319 17.6412 5.13864 16.9743 3.60559 15.7489C2.07254 14.5236 1.00234 12.8128 0.571132 10.8982C0.139928 8.98356 0.373414 6.97918 1.23316 5.21494C2.09291 3.4507 3.52768 2.03173 5.30134 1.19158C7.075 0.351422 9.08184 0.140152 10.9916 0.592537C12.9013 1.04492 14.6001 2.134 15.8084 3.68053C17.0167 5.22706 17.6625 7.13888 17.6394 9.10133C17.6164 11.0638 16.9259 12.9599 15.6816 14.4776C14.8718 15.4654 13.853 16.2614 12.6987 16.8082C11.5443 17.355 10.2831 17.639 9.00576 17.6399ZM9.00576 1.51187C7.52478 1.51187 6.07705 1.95103 4.84566 2.77382C3.61426 3.59662 2.65451 4.76608 2.08776 6.13433C1.52101 7.50259 1.37272 9.00817 1.66165 10.4607C1.95057 11.9132 2.66374 13.2475 3.71095 14.2947C4.75817 15.3419 6.0924 16.0551 7.54493 16.344C8.99746 16.6329 10.503 16.4846 11.8713 15.9179C13.2395 15.3511 14.409 14.3914 15.2318 13.16C16.0546 11.9286 16.4938 10.4809 16.4938 8.99987C16.4938 7.01393 15.7048 5.10932 14.3006 3.70505C12.8963 2.30078 10.9917 1.51187 9.00576 1.51187Z' fill='%23FA4A0C'/%3E%3Cpath d='M2.77345 14.1149C2.77345 14.1149 8.57376 20.5949 14.4778 14.76L15.2381 14.1149C15.2381 14.1149 10.3075 9.00002 5.30209 12.0701L2.77345 14.1149Z' fill='%23FA4A0C'/%3E%3Cpath d='M9.00577 9.00023C10.5963 9.00023 11.8858 7.71081 11.8858 6.12023C11.8858 4.52965 10.5963 3.24023 9.00577 3.24023C7.41519 3.24023 6.12577 4.52965 6.12577 6.12023C6.12577 7.71081 7.41519 9.00023 9.00577 9.00023Z' fill='%23FA4A0C'/%3E%3C/svg%3E%0A");
      }
      &--c2{
        background-color: rgba(0, 71, 255, 0.2);
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2233 7.98169L16.0448 6.80336C15.7651 6.52364 15.5358 5.97088 15.5358 5.57447V3.90801C15.5358 3.11528 14.8882 2.46768 14.0957 2.46726H12.4286C12.0326 2.46726 11.4792 2.23762 11.1995 1.95812L10.0212 0.779781C9.46126 0.219891 8.54454 0.219891 7.98465 0.779781L6.80631 1.95896C6.52634 2.23868 5.97232 2.46768 5.57722 2.46768H3.91075C3.11908 2.46768 2.47063 3.11528 2.47063 3.90801V5.57452C2.47063 5.96936 2.24146 6.52385 1.96171 6.8034L0.783157 7.98174C0.222845 8.54163 0.222845 9.45835 0.783157 10.0191L1.96171 11.1975C2.24163 11.4772 2.47063 12.0315 2.47063 12.4263V14.0929C2.47063 14.8847 3.11908 15.5332 3.91075 15.5332H5.57726C5.9732 15.5332 6.5266 15.7624 6.80635 16.0419L7.98469 17.2207C8.54458 17.7801 9.4613 17.7801 10.0212 17.2207L11.1995 16.0419C11.4795 15.7622 12.0327 15.5332 12.4286 15.5332H14.0958C14.8883 15.5332 15.5359 14.8847 15.5359 14.0929V12.4263C15.5359 12.0298 15.7653 11.477 16.0448 11.1975L17.2234 10.0191C17.7828 9.45835 17.7828 8.54158 17.2233 7.98169ZM7.85981 12.2403L4.68256 9.06262L5.70083 8.04455L7.86006 10.2038L12.3048 5.76006L13.3229 6.77813L7.85981 12.2403Z' fill='%230038FF'/%3E%3C/svg%3E%0A");
      }
      &--c3{
        background-color: rgba(235, 71, 150, 0.2);
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.98873 0.359888C7.54128 0.358457 6.11677 0.72157 4.84663 1.41573C3.57648 2.10989 2.50161 3.11274 1.72116 4.33176C0.940706 5.55078 0.479818 6.94672 0.381008 8.3908C0.282198 9.83487 0.548649 11.2806 1.15578 12.5945C1.3472 13.0247 1.36777 13.5115 1.21332 13.9563L0.407778 16.3537C0.352366 16.5233 0.344998 16.7049 0.38649 16.8784C0.427983 17.0519 0.516714 17.2105 0.642845 17.3366C0.768976 17.4627 0.927578 17.5514 1.10106 17.5929C1.27454 17.6344 1.45613 17.6271 1.62568 17.5717L4.02313 16.7661C4.46788 16.6117 4.95474 16.6322 5.38488 16.8236C6.55732 17.3661 7.83657 17.6385 9.12831 17.6207C10.42 17.6028 11.6913 17.2953 12.8483 16.7206C14.0053 16.146 15.0186 15.319 15.8133 14.3005C16.6081 13.2821 17.1641 12.0982 17.4404 10.8362C17.7166 9.57425 17.706 8.26636 17.4094 7.00902C17.1128 5.75168 16.5377 4.57696 15.7266 3.5715C14.9155 2.56605 13.889 1.7555 12.7228 1.19965C11.5566 0.643802 10.2806 0.356825 8.98873 0.359888ZM9.00695 13.3061C8.75261 13.3074 8.50819 13.2076 8.32744 13.0286C8.1467 12.8497 8.04445 12.6063 8.04317 12.3519C8.0419 12.0976 8.14172 11.8532 8.32066 11.6724C8.49961 11.4917 8.74302 11.3894 8.99736 11.3882H9.00695C9.26128 11.3882 9.50521 11.4892 9.68505 11.669C9.86489 11.8489 9.96593 12.0928 9.96593 12.3471C9.96593 12.6015 9.86489 12.8454 9.68505 13.0252C9.50521 13.2051 9.26128 13.3061 9.00695 13.3061ZM10.2776 9.5191C9.7444 9.87296 9.67152 10.0533 9.66864 10.06C9.61673 10.1998 9.52353 10.3205 9.40142 10.4062C9.2793 10.4918 9.13404 10.5383 8.98489 10.5395C8.90478 10.5394 8.82529 10.5254 8.74994 10.4982C8.57258 10.4379 8.4263 10.3098 8.3431 10.142C8.25989 9.97416 8.24653 9.7802 8.30593 9.60253C8.55287 9.06133 8.96476 8.61218 9.4826 8.31942C9.68372 8.2251 9.84824 8.06726 9.95083 7.87023C10.0534 7.6732 10.0884 7.44791 10.0503 7.22906C10.0151 7.04406 9.93214 6.87149 9.80963 6.72847C9.68712 6.58545 9.52934 6.47695 9.35195 6.41375C9.17455 6.35055 8.98372 6.33483 8.79838 6.36817C8.61303 6.40151 8.43963 6.48274 8.29539 6.6038C8.17491 6.70517 8.07812 6.83173 8.01184 6.97455C7.94557 7.11737 7.91142 7.27299 7.91179 7.43044C7.91179 7.6212 7.83602 7.80414 7.70113 7.93902C7.56625 8.0739 7.38331 8.14968 7.19256 8.14968C7.00181 8.14968 6.81887 8.0739 6.68398 7.93902C6.5491 7.80414 6.47332 7.6212 6.47332 7.43044C6.4741 6.80227 6.70963 6.19707 7.13368 5.73362C7.55772 5.27016 8.13967 4.98193 8.7653 4.92548C9.39093 4.86903 10.0151 5.04844 10.5152 5.4285C11.0154 5.80857 11.3554 6.36184 11.4686 6.97972C11.5553 7.47399 11.4875 7.98295 11.2746 8.43732C11.0616 8.8917 10.7138 9.26943 10.2786 9.5191H10.2776Z' fill='%23EB4796'/%3E%3C/svg%3E%0A");
      }
      &--c4{
        background-color: rgba(115, 40, 210, 0.2);
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.66038 5.87736V5.18396C8.62282 5.26312 9.56106 5.52655 10.4241 5.95991C10.5244 6.00704 10.6351 6.02813 10.7458 6.02124C10.8564 6.01435 10.9636 5.9797 11.0574 5.92048C11.1511 5.86126 11.2285 5.77939 11.2822 5.68241C11.336 5.58542 11.3645 5.47646 11.3651 5.36557V0.660377C11.3651 0.485234 11.2955 0.317265 11.1717 0.19342C11.0478 0.0695752 10.8799 0 10.7047 0H3.29528C3.12014 0 2.95217 0.0695752 2.82833 0.19342C2.70448 0.317265 2.63491 0.485234 2.63491 0.660377V5.36557C2.63524 5.47723 2.66389 5.58699 2.71817 5.68458C2.77245 5.78217 2.85059 5.8644 2.94528 5.92358C3.01312 5.96986 3.08976 6.00166 3.17043 6.01699C3.2511 6.03233 3.33407 6.03088 3.41415 6.01274H3.43396C3.48774 5.99811 3.54066 5.98047 3.59245 5.95991C4.44901 5.52508 5.38215 5.26151 6.33962 5.18396V5.87736C3.16981 6.15802 0.178302 8.46934 0 12.8113C0.396226 22.0995 13.6038 22.0929 14 12.8113C13.8217 8.46934 10.8302 6.15802 7.66038 5.87736ZM11.2297 12.4382L9.57877 14.033L9.9717 16.2849C9.99257 16.4063 9.97906 16.5311 9.93271 16.6453C9.88635 16.7594 9.809 16.8583 9.70939 16.9308C9.60978 17.0032 9.49188 17.0464 9.36903 17.0554C9.24617 17.0644 9.12324 17.0388 9.01415 16.9816L7 15.9184L4.97924 16.9816C4.8701 17.0393 4.74696 17.0652 4.62381 17.0565C4.50066 17.0477 4.38244 17.0046 4.28255 16.9321C4.18009 16.8587 4.10078 16.7575 4.05397 16.6405C4.00716 16.5235 3.99482 16.3955 4.0184 16.2717L4.40472 14.0198L2.77028 12.425C2.68217 12.3389 2.61988 12.2299 2.59045 12.1103C2.56103 11.9907 2.56564 11.8653 2.60376 11.7482C2.64189 11.6311 2.71201 11.5269 2.8062 11.4476C2.90039 11.3682 3.0149 11.3168 3.13679 11.2991L5.39528 10.9689L6.40896 8.9217C6.46373 8.81181 6.54805 8.71936 6.65246 8.65474C6.75686 8.59012 6.87722 8.55589 7 8.55589C7.12278 8.55589 7.24314 8.59012 7.34754 8.65474C7.45195 8.71936 7.53627 8.81181 7.59104 8.9217L8.60472 10.9689L10.8632 11.2991C10.9879 11.3148 11.1054 11.3658 11.2021 11.446C11.2988 11.5262 11.3706 11.6324 11.4091 11.752C11.4475 11.8716 11.4511 11.9997 11.4193 12.1212C11.3876 12.2428 11.3218 12.3527 11.2297 12.4382Z' fill='%237328D2'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__offcanvas{
    &:before{
      background: rgba(34, 34, 34, 0.6);
    }
    &__header{
      padding: 20px 15px;
      border-bottom: 1px solid #E3E5E8;
    }
    &__body{
      //background: #000;
      padding: 15px;
      font-size: 14px;
      line-height: 1.6;
      font-family: $font-Dosis-Regular;
      color: #0F172A;
    }
    &__close{
      right: 15px;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.05207 16.087C1.53823 16.6008 1.53823 17.4339 2.05207 17.9478C2.56592 18.4616 3.39903 18.4616 3.91288 17.9478L10 11.8606L16.0872 17.9478C16.601 18.4616 17.4341 18.4616 17.948 17.9478C18.4618 17.4339 18.4618 16.6008 17.948 16.087L11.8608 9.99984L17.948 3.9127C18.4618 3.39885 18.4618 2.56574 17.948 2.05189C17.4341 1.53804 16.601 1.53804 16.0872 2.05189L10 8.13903L3.91288 2.05189C3.39903 1.53804 2.56592 1.53804 2.05207 2.05189C1.53823 2.56574 1.53823 3.39885 2.05207 3.9127L8.13921 9.99984L2.05207 16.087Z' fill='%23222222'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      svg{
        opacity: 0;
      }
    }
    &__title{
      color: #222222 !important;
      font-size: 18px;
      line-height: (23/18);
      font-family: $font-Dosis-SemiBold;
      margin: 0;
    }
    &__bar{
      left: 0;
      right: 0;
      width: 100%;
      top: 100vh;
      -webkit-transition: top 0.3s ease-out;
      transition: top 0.3s ease-out;
      padding: 0;
      color: #0F172A;
      background: #FFFFFF;
      border-radius: 16px 16px 0px 0px;
      .uk-open> &{
        top: 35vh;
      }
    }
  }
}