.navbar{
  &__top{
    background: linear-gradient(94.07deg, #FEAB2F 0%, #FA4A0C 100%) !important;
    .uk-navbar-toggle{
      padding: 0 15px;
      color: #FFFFFF;
    }
    .uk-navbar-item,
    .uk-navbar-toggle{
      min-height: 60px;
    }
    &__icon{
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      svg{
        opacity: 0;
      }
      &--back{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.57 5.92993L3.5 11.9999L9.57 18.0699' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.5 12H3.66998' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      &--calendar{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 2V6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 2V6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 10H21' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      &--info{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3364 16.0908C13.1319 16.1098 12.9267 16.0637 12.75 15.959C12.621 15.8265 12.5591 15.6425 12.5819 15.459C12.5866 15.3061 12.6049 15.154 12.6364 15.0044C12.6669 14.8328 12.7063 14.6629 12.7546 14.4953L13.2909 12.6499C13.3462 12.4677 13.3828 12.2804 13.4 12.0907C13.4 11.8862 13.4273 11.7453 13.4273 11.6635C13.4387 11.2989 13.283 10.9491 13.0046 10.7135C12.662 10.4505 12.2355 10.3213 11.8046 10.3499C11.4958 10.3545 11.1894 10.405 10.8955 10.4998C10.5742 10.5998 10.2364 10.7195 9.88183 10.859L9.72729 11.459C9.83183 11.4226 9.95913 11.3817 10.1046 11.3362C10.2433 11.2951 10.3871 11.2737 10.5318 11.2726C10.7348 11.2506 10.9391 11.3004 11.1091 11.4135C11.2246 11.5513 11.2787 11.7302 11.2591 11.909C11.2586 12.0618 11.2418 12.2142 11.2091 12.3635C11.1773 12.5226 11.1364 12.6907 11.0864 12.868L10.5455 14.7225C10.5019 14.8949 10.467 15.0694 10.4409 15.2453C10.4197 15.3959 10.4091 15.5477 10.4091 15.6998C10.4069 16.0669 10.5747 16.4143 10.8636 16.6407C11.2114 16.9078 11.6441 17.0402 12.0818 17.0134C12.39 17.0198 12.6971 16.9752 12.9909 16.8816C13.2485 16.7937 13.5924 16.668 14.0227 16.5043L14.1682 15.9316C14.0516 15.98 13.9316 16.0195 13.8091 16.0498C13.6542 16.0852 13.4951 16.0989 13.3364 16.0908Z' fill='white'/%3E%3Cpath d='M13.9045 7.34083C13.6571 7.11364 13.3312 6.99141 12.9954 6.99993C12.6598 6.99235 12.3342 7.11446 12.0863 7.34083C11.6319 7.73262 11.5812 8.4186 11.973 8.87301C12.0079 8.91352 12.0458 8.95137 12.0863 8.9863C12.604 9.4493 13.3868 9.4493 13.9045 8.9863C14.3588 8.59063 14.4065 7.90157 14.0108 7.44719C13.9779 7.40934 13.9424 7.3738 13.9045 7.34083Z' fill='white'/%3E%3Cpath d='M12 2C6.47715 2 2 6.47715 2 12C2 17.5229 6.47715 22 12 22C17.5229 22 22 17.5229 22 12C22 6.47715 17.5229 2 12 2ZM12 21.0909C6.97922 21.0909 2.9091 17.0208 2.9091 12C2.9091 6.97922 6.97922 2.9091 12 2.9091C17.0208 2.9091 21.0909 6.97922 21.0909 12C21.0909 17.0208 17.0208 21.0909 12 21.0909Z' fill='white' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
      }
    }
    &__title{
      letter-spacing: 0.3px;
      color: #FFFFFF;
      font-size: 18px;
      font-family: $font-Dosis-SemiBold;
      line-height: 1.4;
      margin: 0;
    }
  }
}