/**
 * --------------------------------------------------------------------
 * Dosis
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Dosis Medium';
  font-display: swap;
  src:local('Dosis Medium'), url('fonts/Dosis/Dosis-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Dosis SemiBold';
  font-display: swap;
  src:local('Dosis SemiBold'), url('fonts/Dosis/Dosis-SemiBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Dosis Bold';
  font-display: swap;
  src:local('Dosis Bold'), url('fonts/Dosis/Dosis-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Dosis Regular';
  font-display: swap;
  src:local('Dosis Regular'), url('fonts/Dosis/Dosis-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Dosis Light';
  font-display: swap;
  src:local('Dosis Light'), url('fonts/Dosis/Dosis-Light.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Dosis ExtraLight';
  font-display: swap;
  src:local('Dosis ExtraLight'), url('fonts/Dosis/Dosis-ExtraLight.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Dosis ExtraBold';
  font-display: swap;
  src:local('Dosis ExtraBold'), url('fonts/Dosis/Dosis-ExtraBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Arial Regular';
  font-display: swap;
  src:local('Arial Regular'), url('fonts/Arial/arial.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Verdana Regular';
  font-display: swap;
  src:local('Verdana Regular'), url('fonts/Fonts/Verdana.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Verdana Bold';
  font-display: swap;
  src:local('Verdana Bold'), url('fonts/Fonts/Verdana-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Roboto Regular';
  font-display: swap;
  src:local('Roboto Regular'), url('fonts/Fonts/Roboto-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Black';
  font-display: swap;
  src:local('Roboto Black'), url('fonts/Fonts/Roboto-Black.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Bold Italic';
  font-display: swap;
  src:local('Roboto Bold Italic'), url('fonts/Fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Bold';
  font-display: swap;
  src:local('Roboto Bold'), url('fonts/Fonts/Roboto-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Medium';
  font-display: swap;
  src:local('Roboto Medium'), url('fonts/Fonts/Roboto-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto Light Italic';
  font-display: swap;
  src:local('Roboto Light Italic'), url('fonts/Fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}