body{
  font-family: $font-Dosis-Regular;
  background: #{$primary-color};
  &.isHome{

  }
  &:not(.isHome){

  }
}
#app{
  background: #F5F5F8;
  .isHome &{
    padding-bottom: 56px;
  }
  .bottomFixed &{
    padding-bottom: 74px;

  }
  .uk-offcanvas-page &{
    padding-bottom: 0 !important;
  }
}
.app{
  &__container{
    //max-width: 414px;
    margin: 0 auto;
    overflow: hidden;

    .uk-offcanvas-page &{
      border-radius: 20px;
    }
  }
}