// Color
$primary-color: #FA4A0C;
$secondary-color: #94A3B8;

// Fonts families
$font-primary: 'Arial Regular',sans-serif;
$font-Roboto: 'Roboto Regular',sans-serif;
$font-Roboto-Bold: 'Roboto Bold',sans-serif;
$font-Roboto-Medium: 'Roboto Medium',sans-serif;
$font-Roboto-LightItalic: 'Roboto Light Italic',sans-serif;
$font-Roboto-Black: 'Roboto Black',sans-serif;
$font-Roboto-BoldItalic: 'Roboto Bold Italic',sans-serif;
$font-Verdana: 'Verdana Regular',sans-serif;
$font-Verdana-Bold: 'Verdana Bold',sans-serif;
//$font-secondary: 'Playfair Display',sans-serif;
$font-Dosis-Medium: 'Dosis Medium',sans-serif;
$font-Dosis-SemiBold: 'Dosis SemiBold',sans-serif;
$font-Dosis-Bold: 'Dosis Bold',sans-serif;
$font-Dosis-Regular: 'Dosis Regular',sans-serif;
$font-Dosis-Light: 'Dosis Light',sans-serif;
$font-Dosis-ExtraLight: 'Dosis ExtraLight',sans-serif;
$font-Dosis-ExtraBold: 'Dosis ExtraBold',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 14px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
